body {
    background-color: #011F3F;
}

.center-or {
    display: block;
    text-align: center;
}

.user-action {
    visibility: hidden;
}

#first-section {
    background-color: #204163;
    padding: 0% 0% 2%;
}

/* Navigation Bar */

.navbar-dark .navbar-brand {
    color: #B0A884;
}

.navbar-brand {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
}

.navbar-nav .nav-item .nav-link {
    color: #FEF2BF;
}

.navbar-nav .nav-item.active .nav-link {
    color: #B0A884;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.50rem;
}

#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    line-height: 1.5;
    margin:  3%;
    text-align: center;
    color: #B0A884;
}

#third-section {
    background-color: #204163;
    font-family: 'Lancelot', cursive;
    padding: 10% 3%;
    color: #B0A884;
}

#third-section h2 {
    font-size: 3rem;
    text-align: center;
}

#third-section h3 {
    font-size: 2.80rem;
}

#third-section p {
    font-size: 1.85rem;
}

#fourth-section {
    font-family: 'Lancelot', cursive;
    margin: 10% auto;
    padding: 0% 3%;
    color: #FEF2BF;
}

#fourth-section h2 {
    font-size: 3rem;
    text-align: center;
}

#fourth-section h5 {
    font-size: 2.20rem;
    text-align: center;
}

#fourth-section p {
    font-size: 1.85rem;
}

#fifth-section p {
    background-color: #204163;
    padding: 20px 0px;
    margin-bottom: -20px;
}

#footer-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #B0A884;
}
  
.container-ext-css {
    display: block;
    width: 50%;
    margin: 10% auto;
    text-align: center;
}
  
.btn-ext-css {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
}
  
.game-over {
    background-color: red;
    opacity: 0.8;
}
  
.red {
    background-color: red;
}
  
.green {
    background-color: green;
}
  
.blue {
    background-color: blue;
}
  
.yellow {
    background-color: yellow;
}
  
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

/* Responsiveness Section */

@media (min-width: 1200px) {

    @media (max-height: 1080px) {

        .container-ext-css {
            width: 80%;
        }

    }

}

@media (max-width: 1200px) {

    @media (max-height: 1080px) {

        #third-section h2 {
            font-size: 2.70rem;
        }

        #third-section h3 {
            font-size: 2.50rem;
        }
        
        #third-section p {
            font-size: 1.55rem;
        }
        
        #fourth-section h2 {
            font-size: 2.70rem;
        }

        #fourth-section h5 {
            font-size: 1.95rem;
        }
        
        #fourth-section p {
            font-size: 1.55rem;
        }

        .container-ext-css {
            width: 70%;
        }

    }

}

@media (max-width: 1100px) {

    @media (max-height: 1080px) {

        /* Navigation Bar */
        
        .navbar-brand {
            font-size: 2.80rem;
        }
        
        .nav-link {
            font-size: 1.40rem;
        }

        #level-title {
            font-size: 2.82rem;
        }

        #third-section h2 {
            font-size: 2.50rem;
        }

        #third-section h3 {
            font-size: 2.40rem;
        }
        
        #third-section p {
            font-size: 1.45rem;
        }
        
        #fourth-section h2 {
            font-size: 2.50rem;
        }

        #fourth-section h5 {
            font-size: 1.75rem;
        }
        
        #fourth-section p {
            font-size: 1.45rem;
        }
    
        #footer-text {
            font-size: 0.86rem;
        }
    
        .container-ext-css {
            width: 70%;
            margin: 12% auto;
        }
    
        .btn-ext-css {
            height: 175px;
            width: 175px;
        }

    }

}

@media (max-width: 920px) {

    @media (max-height: 1080px) {

        /* Navigation Bar */
        
        .navbar-brand {
            font-size: 2.20rem;
        }

        .nav-link {
            font-size: 1.10rem;
        }

        #level-title {
            font-size: 2.22rem;
        }

        #third-section h2 {
            font-size: 2.10rem;
        }

        #third-section h3 {
            font-size: 2rem;
        }
        
        #third-section p {
            font-size: 1.25rem;
        }
        
        #fourth-section h2 {
            font-size: 2.10rem;
        }

        #fourth-section h5 {
            font-size: 1.55rem;
        }
        
        #fourth-section p {
            font-size: 1.25rem;
        }
    
        #footer-text {
            font-size: 0.86rem;
        }
    
        .container-ext-css {
            width: 80%;
            margin: 6% auto;
        }
    
        .btn-ext-css {
            height: 150px;
            width: 150px;
        }

    }

}

@media (max-width: 720px) {

    @media (max-height: 1080px) {

        /* Navigation Bar */
        
        .navbar-brand {
            font-size: 2.20rem;
        }

        .nav-link {
            font-size: 1.10rem;
        }

        #level-title {
            font-size: 2rem;
        }

        #third-section h2 {
            font-size: 2.10rem;
        }

        #third-section h3 {
            font-size: 2rem;
        }
        
        #third-section p {
            font-size: 1.25rem;
        }
        
        #fourth-section h2 {
            font-size: 2.10rem;
        }

        #fourth-section h5 {
            font-size: 1.55rem;
        }
        
        #fourth-section p {
            font-size: 1.25rem;
        }
    
        #footer-text {
            font-size: 0.86rem;
        }
    
        .container-ext-css {
            width: 70%;
        }
    
        .btn-ext-css {
            height: 125px;
            width: 125px;
        }

    }

}

@media (max-width: 650px) {

    @media (max-height: 1080px) {

        /* Navigation Bar */
        
        .navbar-brand {
            font-size: 2rem;
        }

        .nav-link {
            font-size: 1rem;
        }

        #level-title {
            font-size: 1.78rem;
        }

        #third-section h2 {
            font-size: 2.10rem;
        }

        #third-section h3 {
            font-size: 2rem;
        }
        
        #third-section p {
            font-size: 1.25rem;
        }
        
        #fourth-section h2 {
            font-size: 2.10rem;
        }

        #fourth-section h5 {
            font-size: 1.55rem;
        }
        
        #fourth-section p {
            font-size: 1.25rem;
        }
    
        #footer-text {
            font-size: 0.86rem;
        }

        .container-ext-css {
            width: 80%;
            margin: 12% auto;
        }
    
        .btn-ext-css {
            height: 125px;
            width: 125px;
        }

    }

}

@media (max-width: 580px) {

    @media (max-height: 1080px) {

        /* Navigation Bar */
        
        .navbar-brand {
            font-size: 2rem;
        }
        
        .nav-link {
            font-size: 1rem;
        }

        #level-title {
            font-size: 1.60rem;
        }

        #third-section h2 {
            font-size: 2.10rem;
        }

        #third-section h3 {
            font-size: 2rem;
        }
        
        #third-section p {
            font-size: 1.25rem;
        }
        
        #fourth-section h2 {
            font-size: 2.10rem;
        }

        #fourth-section h5 {
            font-size: 1.55rem;
        }
        
        #fourth-section p {
            font-size: 1.25rem;
        }
    
        #footer-text {
            font-size: 0.86rem;
        }

        .container-ext-css {
            width: 80%;
            margin: 12% auto;
        }
    
        .btn-ext-css {
            height: 125px;
            width: 125px;
        }

    }

}

@media (max-width: 520px) {

    @media (max-height: 1080px) {

        /* Navigation Bar */
        
        .navbar-brand {
            font-size: 2rem;
        }

        .nav-link {
            font-size: 1rem;
        }

        #level-title {
            font-size: 1.48rem;
        }

        #third-section h2 {
            font-size: 2.10rem;
        }

        #third-section h3 {
            font-size: 2rem;
        }
        
        #third-section p {
            font-size: 1.25rem;
        }
        
        #fourth-section h2 {
            font-size: 2.10rem;
        }

        #fourth-section h5 {
            font-size: 1.55rem;
        }
        
        #fourth-section p {
            font-size: 1.25rem;
        }
    
        #footer-text {
            font-size: 0.86rem;
        }

        .container-ext-css {
            width: 100%;
            margin: 15% auto;
        }
    
        .btn-ext-css {
            height: 125px;
            width: 125px;
        }

    }

}

@media (max-width: 480px) {

    @media (max-height: 1080px) {

        /* Navigation Bar */
        
        .navbar-brand {
            font-size: 1.80rem;
        }

        .nav-link {
            font-size: 1rem;
        }

        #level-title {
            font-size: 1.36rem;
        }

        #third-section h2 {
            font-size: 1.95rem;
        }

        #third-section h3 {
            font-size: 1.85rem;
        }
        
        #third-section p {
            font-size: 1.15rem;
        }
        
        #fourth-section h2 {
            font-size: 1.95rem;
        }

        #fourth-section h5 {
            font-size: 1.45rem;
        }
        
        #fourth-section p {
            font-size: 1.15rem;
        }
    
        #footer-text {
            font-size: 0.86rem;
        }

        .container-ext-css {
            width: 100%;
            margin: 15% auto;
        }
    
        .btn-ext-css {
            height: 125px;
            width: 125px;
        }

    }

}

@media (max-width: 440px) {

    @media (max-height: 1080px) {

        /* Navigation Bar */
        
        .navbar-brand {
            font-size: 1.55rem;
        }

        .nav-link {
            font-size: 0.90rem;
        }

        #level-title {
            font-size: 1.22rem;
        }

        #third-section h2 {
            font-size: 1.55rem;
        }

        #third-section h3 {
            font-size: 1.45rem;
        }
        
        #third-section p {
            font-size: 1.15rem;
        }
        
        #fourth-section h2 {
            font-size: 1.55rem;
        }

        #fourth-section h5 {
            font-size: 1.35rem;
        }
        
        #fourth-section p {
            font-size: 1.15rem;
        }
    
        #footer-text {
            font-size: 0.86rem;
        }

        .container-ext-css {
            width: 100%;
            margin: 15% auto;
        }
    
        .btn-ext-css {
            height: 125px;
            width: 125px;
        }

    }

}

@media (max-width: 400px) {

    @media (max-height: 1080px) {

        /* Navigation Bar */
        
        .navbar-brand {
            font-size: 1.45rem;
        }

        .nav-link {
            font-size: 0.85rem;
        }

        #level-title {
            font-size: 1.10rem;
        }

        #third-section h2 {
            font-size: 1.55rem;
        }

        #third-section h3 {
            font-size: 1.45rem;
        }
        
        #third-section p {
            font-size: 1.15rem;
        }
        
        #fourth-section h2 {
            font-size: 1.55rem;
        }

        #fourth-section h5 {
            font-size: 1.35rem;
        }
        
        #fourth-section p {
            font-size: 1.15rem;
        }
    
        #footer-text {
            font-size: 0.76rem;
        }

        .container-ext-css {
            width: 100%;
            margin: 15% auto;
        }
    
        .btn-ext-css {
            margin: 15px;
            height: 125px;
            width: 125px;
        }

    }

}

@media (max-width: 360px) {

    @media (max-height: 1080px) {

        /* Navigation Bar */
        
        .navbar-brand {
            font-size: 1.30rem;
        }

        .nav-link {
            font-size: 0.80rem;
        }

        #level-title {
            font-size: 0.98rem;
        }

        #third-section h2 {
            font-size: 1.45rem;
        }

        #third-section h3 {
            font-size: 1.35rem;
        }
        
        #third-section p {
            font-size: 1.05rem;
        }
        
        #fourth-section h2 {
            font-size: 1.45rem;
        }

        #fourth-section h5 {
            font-size: 1.25rem;
        }
        
        #fourth-section p {
            font-size: 1.05rem;
        }
    
        #footer-text {
            font-size: 0.72rem;
        }
    
        .container-ext-css {
            width: 100%;
            margin: 15% auto;
        }
    
        .btn-ext-css {
            margin: 15px;
            height: 125px;
            width: 125px;
        }

    }

}

@media (max-width: 320px) {

    @media (max-height: 1080px) {

        img {
            width: 25px;
            height: 25px;
        }

        /* Navigation Bar */
        
        .navbar-brand {
            font-size: 1.22rem;
        }

        .nav-link {
            font-size: 0.75rem;
        }

        #level-title {
            font-size: 0.90rem;
        }

        #third-section h2 {
            font-size: 1.45rem;
        }

        #third-section h3 {
            font-size: 1.35rem;
        }
        
        #third-section p {
            font-size: 1.05rem;
        }
        
        #fourth-section h2 {
            font-size: 1.45rem;
        }

        #fourth-section h5 {
            font-size: 1.25rem;
        }
        
        #fourth-section p {
            font-size: 1.05rem;
        }
    
        #footer-text {
            font-size: 0.65rem;
        }

        .container-ext-css {
            width: 100%;
            margin: 15% auto;
        }
    
        .btn-ext-css {
            margin: 15px;
            height: 100px;
            width: 100px;
        }

    }

}

@media (max-width: 300px) {

    @media (max-height: 1080px) {

        img {
            width: 25px;
            height: 25px;
        }

        /* Navigation Bar */
        
        .navbar-brand {
            font-size: 1.10rem;
        }

        .nav-link {
            font-size: 0.75rem;
        }

        #level-title {
            font-size: 0.85rem;
        }

        #third-section h2 {
            font-size: 1.45rem;
        }

        #third-section h3 {
            font-size: 1.35rem;
        }
        
        #third-section p {
            font-size: 0.95rem;
        }
        
        #fourth-section h2 {
            font-size: 1.45rem;
        }

        #fourth-section h5 {
            font-size: 1.25rem;
        }
        
        #fourth-section p {
            font-size: 0.95rem;
        }
    
        #footer-text {
            font-size: 0.62rem;
        }

        .container-ext-css {
            width: 100%;
            margin: 15% auto;
        }
    
        .btn-ext-css {
            margin: 15px;
            height: 100px;
            width: 100px;
        }

    }

}

@media (max-width: 280px) {

    @media (max-height: 1080px) {

        img {
            width: 25px;
            height: 25px;
        }

        /* Navigation Bar */
        
        .navbar-brand {
            font-size: 0.98rem;
        }

        .nav-link {
            font-size: 0.70rem;
        }

        #level-title {
            font-size: 0.80rem;
        }

        #third-section h2 {
            font-size: 1.35rem;
        }

        #third-section h3 {
            font-size: 1.25rem;
        }
        
        #third-section p {
            font-size: 0.95rem;
        }
        
        #fourth-section h2 {
            font-size: 1.35rem;
        }

        #fourth-section h5 {
            font-size: 1.15rem;
        }
        
        #fourth-section p {
            font-size: 0.95rem;
        }
    
        #footer-text {
            font-size: 0.55rem;
        }

        .container-ext-css {
            width: 100%;
            margin: 15% auto;
        }
    
        .btn-ext-css {
            margin: 10px;
            height: 100px;
            width: 100px;
        }

    }

}

@media (max-width: 260px) {

    @media (max-height: 1080px) {

        img {
            width: 25px;
            height: 25px;
        }

        /* Navigation Bar */
        
        .navbar-brand {
            font-size: 0.85rem;
        }

        .nav-link {
            font-size: 0.65rem;
        }

        #level-title {
            font-size: 0.72rem;
        }

        #third-section h2 {
            font-size: 1.25rem;
        }

        #third-section h3 {
            font-size: 1.15rem;
        }
        
        #third-section p {
            font-size: 0.85rem;
        }
        
        #fourth-section h2 {
            font-size: 1.25rem;
        }

        #fourth-section h5 {
            font-size: 1.05rem;
        }
        
        #fourth-section p {
            font-size: 0.85rem;
        }
    
        #footer-text {
            font-size: 0.50rem;
        }

        .container-ext-css {
            width: 100%;
            margin: 15% auto;
        }
    
        .btn-ext-css {
            margin: 10px;
            height: 90px;
            width: 90px;
        }

    }

}
